.Section_Title{
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: #1A2238;
}

/*Navbar*/
nav{
  z-index: 99999;
}
 
.Brand{
  font-family: "Nosifer", cursive;
    color: #FFA41B;
    font-size: 2em;
}

.LinkedIn_Icon a{
  color: #0072b1;
}

.LinkedIn_Icon a:hover{
  text-decoration: none;
  color: #0072b1;
}

.Github_Icon a{
  color: white;
}

.Github_Icon a:hover{
  text-decoration: none;
  color:white;
}

/*--------------Hero Section-----------*/
.tsparticles-canvas-el{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.HeroSection{
  background: url(./assets/herosection.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Genos", sans-serif;
  color: #F9F9F9;
  text-align: center;
}

.Description{
  border-radius: 10px;
  padding: 2%;
  backdrop-filter: blur(0.5px);
  background: rgba(26, 34, 56, 0.6);
}

.Description_Technologies{
  color: #FFA41B;
  font-size: 1em;
  font-family: "Audiowide", sans-serif;
}


#gototopbutton{
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
  background-color: black;
  transition: all 0.4s ease;
}

#gototopbutton:hover{
  background-color: white;
}

#gototopbutton i {
  color: white;
  font-size: 15px;
}

#gototopbutton:hover i{
  color: black;
}


/*Check My Work Button*/
.wrapper{
  display: inline-block;
  margin-top: 1%;
}

.wrapper .CheckMyWorkButton{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 0%;
  text-decoration: none;
}

.wrapper .CheckMyWorkButton span{
  height: 70px;
  width: 70px;
  display: block;
  background-color: #FFA41B;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #FFA41B;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}


.wrapper .CheckMyWorkButton span i{
  line-height: 70px;
  font-size: 40px;
  cursor: pointer;
  color: #1A2238;
}

.wrapper .CheckMyWorkButton .CheckMyWorkButtonLabel{
  background-color: #FFA41B;
  font-size: 20px;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 5%;
  height: 50px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  font-size: 1.2em;
  font-weight: bold;
  color: #1A2238;
}

.wrapper .CheckMyWorkButton:hover span{
  background-color: #1A2238;
  box-shadow: 1px 1px 1px 1px #1A2238;
}

.wrapper .CheckMyWorkButton:hover span i{
  color: #FFA41B;
}

.wrapper .CheckMyWorkButton:hover .CheckMyWorkButtonLabel{
  opacity: 1;
  top: -70px;
  pointer-events: auto;
}

.wrapper .CheckMyWorkButton .CheckMyWorkButtonLabel::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: #FFA41B;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/*End of Check My Work Button*/


/*---------------About Me Section--------------*/
#HTML_Bar_Span i{
  color: #e34f26;
}

#HTML_Bar_Progress div{
  background-color: #e34f26;
}


#CSS_Bar_Span i{
  color: #0085ad;
}

#CSS_Bar_Progress div{
  background-color: #0085ad;
}



#Bootstrap_Bar_Span i{
  color: #003666;
}

#Bootstrap_Bar_Progress div{
  background-color: #003666;
}


#JavaScript_Bar_Span i{
  color: #f7df1e;
}

#JavaScript_Bar_Progress div{
  background-color: #f7df1e;
}

#React_Bar_Span i{
  color: #00d8ff;
}

#React_Bar_Progress div{
  background-color: #00d8ff;
}

#Laravel_Bar_Span i{
  color: #f55247;
}

#Laravel_Bar_Progress div{
  background-color: #f55247;
}

#Csharp_Bar_Progress div{
  background-color: #49176d;
}

#AboutMeImgCard{
  position: relative;
  border: none;
}

#AboutMeImgCardImg{
  display: block;
}

#AboutMeImgOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1A2238;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

#AboutMeImgCard:hover #AboutMeImgOverlay,
#AboutMeImgCard:focus #AboutMeImgOverlay,
#AboutMeImgCard:active #AboutMeImgOverlay
{
  opacity: 1;
}








#ContactMe_Section{
  min-height: 100vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ContactMe_Section .Section_Title{
  color:#1A2238;
}

#ContactMe_Section #content{
  background-color: white;
  min-height: 500px;
  border-radius: 5px;
  width: 80%;
  padding: 0%;
}


#ContactMe_Section #content .Contact{
  background-color: #1A2238;
  border-radius: 5px;
}

#ContactMe_Form{
  padding: 1%;
}

#ContactMe_Form div label{
  opacity: 1;
}

#ContactMe_Form input{
  width: 100%;
  border: none;
  border-bottom:2px solid #1A2238;
  height: 30px;
  margin-top: 3%;
  margin-bottom: 10%;
}

#ContactMe_Form input:active,
#ContactMe_Form input:focus{
  outline: none;
}

#ContactMe_Form textarea{
  width: 100%;
  border: none;
  border-bottom:2px solid #1A2238;
  height: 100px;
  margin-top: 3%;
  margin-bottom: 3%;
}

#ContactMe_Form textarea:hover,
#ContactMe_Form textarea:focus{
  outline: none;
}

#ContactMe_Form div #Submit_Button{
  background-color: #1A2238;
  border: none;
  font-size: 1.3em;
  width: 175px;
  color: #FFA41B;
  border-radius: 25px;
  font-family: "Audiowide", sans-serif;
  padding: 1%;
  transition: all 0.4s ease-in;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}

#ContactMe_Form div #Submit_Button:hover{
  color: #1A2238;
  background-color: #FFA41B;
}

#ContactMe_Section .Contact #Social_Medias_Icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Linked_In{
  background-color: #0072b1;
  border-radius: 50%;
  padding: 10px;
  height: 35px;
  width: 35px;
  line-height: 15px;
  transition: all 0.4s ease-in-out;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Linked_In i{
  color: white;
  font-size: 15px;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Linked_In:hover{
  background-color: white;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Linked_In:hover i{
  color: #0072b1;
}


#ContactMe_Section .Contact #Social_Medias_Icons #Facebook{
  background-color: #1877f2;
  border-radius: 50%;
  padding: 10px;
  height: 35px;
  width: 35px;
  line-height: 15px;
  transition: all 0.4s ease-in-out;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Facebook i{
  color: white;
  font-size: 15px;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Facebook:hover{
  background-color: white;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Facebook:hover i{
  color: #1877f2;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Instagram{
  background-color: #e1306c;
  border-radius: 50%;
  padding: 10px;
  height: 35px;
  width: 35px;
  line-height: 15px;
  transition: all 0.4s ease-in-out;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Instagram i{
  color: white;
  font-size: 15px;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Instagram:hover{
  background-color: white;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Instagram:hover i{
  color: #e1306c;
}


#ContactMe_Section .Contact #Social_Medias_Icons #Twitter{
  background-color: #1da1f2;
  border-radius: 50%;
  padding: 10px;
  height: 35px;
  width: 35px;
  line-height: 15px;
  transition: all 0.4s ease-in-out;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Twitter i{
  color: white;
  font-size: 15px;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Twitter:hover{
  background-color: white;
}

#ContactMe_Section .Contact #Social_Medias_Icons #Twitter:hover i{
  color: #1da1f2;
}